# App
APP_NAME=Bayline API
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1

# Database
POSTGRES_USER=bayline
POSTGRES_PASSWORD=bayline_dev_password
POSTGRES_DB=bayline
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://bayline:bayline_dev_password@localhost:5432/bayline

# Security (se termina de definir en el módulo de auth)
SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

# Initial Platform seed user
PLATFORM_ADMIN_EMAIL=admin@bayline.com
PLATFORM_ADMIN_PASSWORD=change-this-password

# Initial Platform seed user
PLATFORM_ADMIN_EMAIL=admin@bayline.com
PLATFORM_ADMIN_PASSWORD=change-this-password
